.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #e8e8e8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.close-button {
  width: 100px;
  background-color: #ffb300;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    background-color: #b27d00;
  }
}
